{% extends "base.html.twig" %}

{% block body %}
	<h2>comment reviewed, thank you</h2>

	<p>applied transistion:
		<strong>{{ transition }}</strong>
	</p>
	<p>new state:
		<strong>{{ comment.state }}</strong>
	</p>
{% endblock %}
