<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <style>
            body { margin: 1em auto; max-width: 800px; width: 95%; font: 16px/1.5 sans-serif; }
            </style>
        {% endblock %}
    </head>
    <body>
        <header>
            <h1><a href="{{ path('homepage')}}">Guestbook</a></h1>
            <ul>
                {% for conference in conferences %}
                    <li>
                        <a href="{{ path('conference', {slug: conference.slug}) }}">
                            {{ conference }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
