{% extends 'base.html.twig' %}

{% block title %}🔥 Conference Guestbook!{% endblock %}

{% block body %}
<div>
    <h1>give your feedback</h1>

    {% for conference in conferences %}
        <h4>{{conference}}</h4>

        <p>
            <a href="{{ path('conference', {slug: conference.slug}) }}">view</a>
        </p>
    {% endfor %}
</div>
{% endblock %}
